* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../medias/background.jpg") repeat-y center top fixed;
    background-size: 110%;
    /*background-attachment: fixed;*/
}

hr {
    margin: 10px;
}

h1 {
    text-align: center;
    margin: 10px;
}

h2, h3, h4, h5, h6, p, #news img, #news video {
    margin: 10px 10px;
}

#news img, #news video {
    width: 100%;
}

.navigator {
    width: 100%;
    /*background-color: rgba(86, 206, 184, 0.5);*/
    text-align: center;
    /*height: 33px;*/
}

ul.navbar {
    display: inline-flex;
    list-style-type: none;
    background-color: rgba(86, 206, 184, 0.5);
    width: 100%;
}

ul.navbar li {
    float: left;
    width: auto;
    /*background-color: rgba(86, 206, 184, 0.5);*/
}

ul.navbar li a {
    display: block;
    padding: 10px 40px 10px 40px;
    color: white;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: rgba(106, 226, 204, 0.7);
}

ul {
    float: left;
    width: auto;
}

.mainFrame {
    clear: both;
    margin: 0 auto;
    padding: 30px;
    width: 70%;
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 2px 2px 5px #333333;
    /*border-radius: 20px;*/
}

.box {
    padding: 20px;
    margin: 10px auto;
    width: 90%;
    box-shadow: 2px 2px 5px #333333;
    background-color: rgba(255, 255, 255, 0.6);
}

.scrollPanelX {
    overflow-x: auto;
}

label {
    display: block;

}

#map {
    width: 100%;
    height: 600px;
}

.scrollPanelX img {
    height: 220px;
}

#bannerImg {
    width: 100%;
}